/* CSS Document */
/*author: Meng Jiao
	date:2020-2-11 20:30 
	version:1.0.1 */
* {
  box-sizing: border-box;
}
		
body {
  background:#EFEFEF;
	margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
 
/* 导航条 */
.topnav {
  overflow: hidden;
  background-color: #333;
}
 



/*目录*/
 .list{
	overflow: hidden;
    background-color: #EFEFEF;
	 margin-left: 50px;
	 margin-top: 15px;
		}
/*目录标题*/
.list p
{
	display: block;
  color: #1393F1;
	font-size: 20px;
	background-color: #FFFFFF;
  padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
  margin: 2px;
  text-decoration: none;
}
/*目录链接*/
.list a {
  display: block;
  color: #3F3F3F;
	font-size: 20px;
	background-color: #FFFFFF;
  padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
  margin: 2px;
  text-decoration: none;
}	
	/* 目录链接颜色修改 */
.list a:hover {
  background-color: #FFFFFF;
  color: #1393F1;
  border-left-style: solid;
	border-left-color: #1393F1;
	
}
/*目录链接的活跃状态*/
.list .active
 {
  background-color: #FFFFFF;
  color: #1393F1;
  border-left-style: solid;
	border-left-color: #1393F1;
	
}
 
/* 左侧栏 */
.leftcolumn {   
  float: left;
  width: 25%;
	background-color: #EFEFEF;
}
 
/* 右侧栏 */
.rightcolumn {
 float: left;
  width: 75%;
  background-color: #EFEFEF;
}

.install{
	background-color: #FFFFFF;
	margin-left: 15px;
	margin-top: 15px;
	margin-right: 30px;
	padding: 20px;
	}
.course
{
	background-color: #FFFFFF;
	margin-left: 15px;
	margin-top: 15px;
	margin-right: 30px;
	margin-bottom: 50px;
	padding: 20px;
}
/*文章*/
.article
{
	padding-left: 20px;
}
/*文章标题*/
.article h1
{
	color: #000000;
	font-size: 20px;
	margin: 1px;
}
/*文章标题链接*/
.article a:link
{
	text-decoration: none;
	color: #000000;
}
/*标题链接改变*/
.article a:hover
{
	color: #0080FF;
	text-decoration:underline;
}
/*标题链接点击后颜色不变*/
.article a:visited
{
	color: #0080FF;
	text-decoration:underline;
}
/*文章说明*/
.article .description
{
	color: #929292;
	font-size: 15px;
	margin: 1px;
}
/*文章时间*/
.article .date
{
	color: #929292;
	font-size: 13px;
	margin-left: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*文字和标题*/
h1{
	font-family:Times, "Times New Roman", "serif";
	font-size: 40px;
	margin-top: 10px;
}

h2{
	font-family: Times, "Times New Roman", "serif";
	font-size:20px;
}
p{
	font-family: Times, "Times New Roman", "serif";
	font-size:15px;
	margin-bottom: 15px;
}

/*水平线*/
hr
{
	margin-top: 20px;
	margin-bottom: 20px;
}

